.ReferralHome-conclusion {
    background-color: #f4f4fb;
    padding-top: 136px;
    padding-bottom: 0;

    .ReferralHome-sectionContentHeadline {
        margin-bottom: 40px;
    }
}

.ReferralHome-cardColumn {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 0 4px;
    }
}

.hide-tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.ReferralHome-cardColumn-Large {
    @media screen and (min-width: 1024px) {
        width: 25%;

        .ReferralHome-cardImage {
            max-height: 380px;
        }
    }
}

.ReferralHome-cardColumn-Medium {
    @media screen and (min-width: 1024px) {
        width: 22%;

        .ReferralHome-cardImage {
            max-height: 350px;
        }
    }
}

.ReferralHome-cardColumn-Small {
    @media screen and (min-width: 1024px) {
        width: 20%;

        .ReferralHome-cardImage {
            max-height: 300px;
        }
    }
}

.ReferralHome-cardImages {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 94px;

    @media screen and (max-width: 768px) {
        margin-top: 54px;
    }
}

.ReferralHome-cardImage {
    max-width: 90%;
    margin-bottom: -10px;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}
