.ReferralHome-signup {
    background-color: #261d39;
    padding-top: 108px;
    padding-bottom: 145px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1280px) {
        padding-bottom: 100px;
    }
    @media screen and (max-width: 699px) {
        padding-top: 84px;
    }
    .ReferralHome-sectionContentCaption {
        color: #eee;
    }
    .ReferralHome-sectionContentHeadline {
        color: #fff;
    }
    .ReferralHome-sectionContentHeadline {
        font-weight: 900;
        font-size: 34px;
        line-height: 40px;
        max-width: 100%;
        @media screen and (max-width: 699px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .ReferralHome-sectionColumn {
        width: 100%;
    }
    .ReferralHome-sectionContainer {
        flex-direction: column;
        padding: 0;
        @media screen and (max-width: 1264px) {
            width: 100%;
            max-width: 100%;
        }
    }
}

.ReferralHome-main {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: grid;
        padding: 20px;
    }
}

.ReferralHome-mainLeft {
    width: 45%;
    padding-top: 150px;
    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
    }
}

.ReferralHome-mainRight {
    text-align: left;
    margin-right: 8%;
    width: 30%;
    background-color: white;
    border-radius: 22px;
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.ReferralHome-referralName {
    display: flex;
    border: 2px solid #e1bbff;
    border-radius: 4px;
    width: 40%;
    height: 50px;
    margin-bottom: 24px;
    span {
        color: #e1bbff;
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
        margin: auto;
        padding: 16px 12px;
    }
    @media screen and (max-width: 767px) {
        width: 78%;
    }
}

.ReferralHome-sectionTitle {
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -0.5px;
    max-width: 800px;
    margin-bottom: 24px;
    span {
        color: #42e8e0;
    }
    @media screen and (max-width: 767px) {
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
    }
}

.ReferralHome-sectionSubtitle {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    margin-bottom: 46px;
    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.ReferralHome-sectionTitle,
.ReferralHome-sectionSubtitle {
    color: #fff;
}

.ReferralHome-pricingBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.ReferralHome-priceRange {
    width: 100%;
}

.ReferralHome-pricesHolder {
    max-width: 100%;
}

.ReferralHome-prices {
    max-width: calc(100% - 68px);
    display: flex;
    margin: 64px 34px 0;
    @media screen and (max-width: 699px) {
        margin-top: 32px;
    }
    .ReferralHome-priceColumn {
        @media screen and (max-width: 699px) {
            width: 100%;
            margin: 0;
        }
        .ReferralHome-submissionCtaContainer {
            margin: 0 auto;
        }
    }
}
