@use '../../../shared/theme';
@use '../../../shared/breakpoints';

.authentication-view {
    &__certificate {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #ffffffb2;
        text-transform: uppercase;
        margin-bottom: 10px;

        @include breakpoints.down(768) {
            margin-bottom: 35px;
        }

        &__button {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }

    &__table-cell--heading {
        line-height: 28px !important;
    }

    &__certified-badge {
        background: #20bfb8;
        border-radius: 8px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        min-height: 72px !important;
        height: 72px !important;
        min-width: 72px !important;
        width: 72px !important;
        @include breakpoints.down(768) {
            min-height: 48px !important;
            min-width: 48px !important;
            height: 48px !important;
            width: 48px !important;
            padding-top: 6px !important;
        }

        @include breakpoints.down(599.95) {
            min-height: 48px !important;
            min-width: 48px !important;
            height: 48px !important;
            width: 48px !important;
            padding-top: 6px !important;
        }
    }

    &__subheading {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    &__verified-user-icon {
        @include breakpoints.down(768) {
            font-size: 35px;
        }

        font-size: 30px;
    }

    &__certified-label {
        @include breakpoints.down(768) {
            display: none;
        }
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        margin-bottom: 5px;
    }

    &__description-block {
        display: block !important;
        &__description {
            color: #0000008a;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &__related-items {
        padding-bottom: 100px;
        background-color: white;

        @include breakpoints.down(768) {
            padding-bottom: 0 !important;
        }

        &__images-div {
            justify-content: space-between !important;
            @include breakpoints.down(768) {
                display: flex;
                flex-wrap: nowrap !important;
                overflow-x: auto;
                margin: 20px;
            }
        }

        &__image-div {
            flex-basis: 23%;
            height: 228px;

            @include breakpoints.down(768) {
                flex: 0 0 auto;
                width: auto;
                height: 100%;
                max-width: 70% !important;
                margin-right: 20px;
                padding-bottom: 20px;
            }

            .material-icons {
                color: #20bfb8;
                position: absolute;
                right: 5px;
            }

            img {
                width: 135px;
                height: 187px;
                margin: 15px 0 10px 0;
            }
        }

        &__image {
            color: rgba(0, 0, 0, 0.87);
            display: flex;
            overflow: hidden;
            position: relative;
            background: rgba(244, 244, 244, 1);
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            align-items: center;
            border-radius: 5px;
            flex-direction: column;
        }

        &__heading {
            display: flex;
        }

        &__content {
            margin-top: 10px;
            color: black;
            h1 {
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.20000000298023224px;
                text-align: left;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.10000000149011612px;
                text-align: left;
            }
        }
    }

    &__certificate-image {
        display: block;
        background-color: white;
        position: relative;
        &__number {
            position: absolute;
            transform: translate(-70%, -31%);
            left: 70%;
            top: 31%;
            z-index: 99999;
            font-size: 24px;

            @include breakpoints.down(1366) {
                font-size: 22px;
                left: 70.5%;
                top: 29%;
            }

            @include breakpoints.down(1024) {
                font-size: 22px;
                left: 70.5%;
                top: 29%;
            }

            @include breakpoints.down(768) {
                font-size: 12px;
                left: 70.5%;
                top: 29%;
            }
        }
        &__image-div {
            position: relative;
            display: inline-block;
            margin-top: 70px;
            max-width: 1300px;
            max-height: 671px;

            @include breakpoints.down(768) {
                margin-top: 30px !important;
                margin-bottom: 0 !important;
            }
        }
    }

    &__table-div-left {
        @include breakpoints.down(768) {
            display: block !important;
        }

        .feed-view__table-cell--heading {
            @include breakpoints.down(768) {
                width: 80px !important;
            }
        }
    }

    &__table-div-right {
        @include breakpoints.down(768) {
            margin-top: 0 !important;
        }
        .feed-view__table-cell--heading {
            @include breakpoints.down(768) {
                width: 80px !important;
            }
        }
    }

    &__right-side {
        @include breakpoints.down(768) {
            display: block !important;
        }
    }

    &__conclusion__button {
        margin: 60px;

        @include breakpoints.down(768) {
            margin: 30px 0 30px 0 !important;
        }

        a {
            @include breakpoints.down(768) {
                width: 100% !important;
            }
        }
    }

    &__button {
        color: #ffffff;
        background: #20bfb8;
        border-radius: 28px;
        padding: 15px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        min-width: 270px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        justify-content: start !important;
        @include breakpoints.down(768) {
            width: 100% !important;
        }
    }
}
