@use '../../../shared/breakpoints';
@use '../../../shared/theme';

.feed-list {
    padding: 48px 0;
    background: linear-gradient(103.29deg, #140078 -18.4%, #6c31bc 112.42%);
    flex: 1 1 auto;
    color: #fff;

    @include breakpoints.down(sm) {
        padding-top: 24px;
        padding-bottom: 0;
    }

    &__table {
        @apply w-full table-auto;
        box-sizing: border-box;

        &__container {
            @include breakpoints.down(md) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-holder {
            max-width: 100%;
            overflow-x: auto;
        }

        &-row {
            border-bottom: 1px solid transparentize(#fff, 0.7);
        }

        &-cell {
            padding: 16px;
            text-align: left;

            // As of 2021, colgroup>col looks deprecated on the web spec,
            // So we have to set width from the style, which
            // based on design estimation of this 3 columns it's 16.8%
            &--date,
            &--certificate,
            &--owner {
                width: 140px;
                @include breakpoints.down(sm) {
                    @apply hidden;
                }
            }

            &--grade {
                width: 96px;
                text-align: right;
            }
        }

        &-head &-cell {
            padding-top: 20px;
            padding-bottom: 20px;

            @include breakpoints.down(sm) {
                @apply hidden;
            }
        }

        &__info {
            @apply flex items-center justify-start;
            &-image {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.12),
                    0 1px 1px 0 rgba(0, 0, 0, 0.14);
            }

            &-text {
                padding-left: 14px;
                max-width: 240px;
            }

            &-heading {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            &-subheading {
                font-size: 12px;
            }

            &-date {
                @apply hidden;

                @include breakpoints.down(sm) {
                    @apply block pt-2 text-xs text-white text-opacity-70;
                }
            }
        }
    }

    &__grade {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background-color: theme.$primaryColor;
        border-radius: 4px;
        color: transparentize(#000, 0.13);
        &__label {
            margin-bottom: 6px;
            font-size: 12px;
            line-height: 12px;
            color: rgba(0, 0, 0, 0.87);
        }
        &__value {
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.87);
        }
    }
}
