.Home-conclusion {
    background-color: #fff;
    padding-top: 136px;
    padding-bottom: 0;

    .Home-sectionContentHeadline {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1025px) {
    .Home-cardImages .Home-cardColumn:not(:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) .Home-cardImage {
        max-width: 24vh;
        max-height: 38vh;
    }

    .Home-cardImages .Home-cardColumn:not(:nth-child(1), :nth-child(3), :nth-child(4), :nth-child(6)) .Home-cardImage {
        max-width: 20vh;
        max-height: 34vh;
    }

    .Home-cardImages .Home-cardColumn .Home-cardImage {
        max-width: 18vh;
        max-height: 28vh;
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .Home-cardImages .Home-cardColumn:nth-child(4),
    :nth-child(6) .Home-cardImage {
        display: none;
    }
    .Home-cardImages .Home-cardColumn:nth-child(1) .Home-cardImage,
    .Home-cardImages .Home-cardColumn:nth-child(5) .Home-cardImage {
        top: 10px;
    }
    .Home-cardImages .Home-cardColumn:nth-child(2) .Home-cardImage,
    .Home-cardImages .Home-cardColumn:nth-child(3) .Home-cardImage {
        top: 20px;
        max-height: 117px;
    }
    .Home-cardImages .Home-cardColumn .Home-cardImage {
        position: relative;
    }
}

.Home-cardColumn {
    width: 25%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 14px;

    @media screen and (max-width: 768px) {
        padding: 0 4px;
    }
}

.Home-cardImages {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 94px;

    @media screen and (max-width: 768px) {
        margin-top: 54px;
        flex-wrap: wrap;
    }
}

.Home-cardImage {
    max-width: 80%;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}
