.Home-details {
    @media screen and (min-width: 1024px) {
        padding: 0px 0px;
        padding-bottom: 220px;
    }

    @media screen and (max-width: 1199px) {
        padding-top: 72px;
        padding-bottom: 92px;
    }

    .Home-sectionColumn--half:nth-child(1) {
        @media screen and (min-width: 1024px) {
            padding: 240px 0px 180px 0px;
        }
    }

    .Home-sectionColumn--half:nth-child(2) {
        @media screen and (min-width: 1024px) {
            padding: 90px 0px;
        }
    }

    .Home-sectionImageHolder {
        @media screen and (max-width: 1199px) {
            margin-top: 56px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .Home-sectionImage {
            @media screen and (min-width: 1024px) {
                max-width: 622px;
                max-height: 710px;
            }

            @media screen and (max-width: 1199px) {
                position: relative;
                width: 100%;
                object-fit: cover;
                object-position: center top;
            }
        }
    }

    @media screen and (max-width: 959px) {
        .Home-sectionLayers {
            display: none;
        }
    }
}
